version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      # Broker listeners
      KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9092"

      # Internal topics
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      # KRaft cluster ID (MUST be 22 chars base64)
      CLUSTER_ID: "v1g8ivujSTqPyEqInYsJcQ"

      # Log directory
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

    volumes:
      - kafka_kraft:/var/lib/kafka/data

  kafdrop:
    image: obsidiandynamics/kafdrop
    restart: always
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
    depends_on:
      - kafka

volumes:
  kafka_kraft:
